<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
	<display-name>Cliente-Frontend</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<login-config>
    	<auth-method>BASIC</auth-method>
    	<realm-name>Tomcat Manager Application</realm-name>
  	</login-config>
  	
  	<security-constraint>
    <web-resource-collection>
      <web-resource-name>HTML Manager interface (for humans)</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
       <role-name>users</role-name>
    </auth-constraint>
  </security-constraint>
  
   <security-role>
    <description>
      Controla o acesso dos usuarios
    </description>
    <role-name>users</role-name>
  </security-role>
</web-app>
